.dashboard-card-col {
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px
}

.dashboard-card .card-img-top {
    height: 150px;
}

.form-control {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

.upBtn {
    background-color: rgb(111, 133, 255);
    border-color: rgb(111, 133, 255);
}
  
.editBtn:hover {
    background-color: rgb(99, 78, 255);
    border-color: rgb(99, 78, 255);
}

.editBtn {
    background-color: rgb(111, 133, 255);
    border-color: rgb(111, 133, 255);
}
  
.editBtn:hover {
    background-color: rgb(99, 78, 255);
    border-color: rgb(99, 78, 255);
}

.delBtn {
    background-color: rgb(255, 70, 70);
    border-color: rgb(255, 70, 70);
}
  
.delBtn:hover {
    background-color: rgb(252, 43, 43);
    border-color: rgb(252, 43, 43);
}

.addBtn {
    background-color: rgb(63, 149, 93);
    border-color: rgb(63, 149, 93);
}
  
.addBtn:hover {
    background-color: rgb(30, 138, 68);
    border-color: rgb(30, 138, 68);
}

.editAndDel {
    float: right;
}